In [1]:
import pandas as pd

In [2]:

df = pd.read_json("News_Category_Dataset_v3.json", lines=True)

df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [3]:
keep_categories = ["POLITICS", "TRAVEL", "SPORTS", "HOME & LIVING"]
df_filtered = df[df["category"].isin(keep_categories)]
df_balanced = pd.concat(
    [
        df_filtered[df_filtered["category"] == cat].sample(n=1000, random_state=42)
        for cat in keep_categories
    ],
    ignore_index=True
)
df_balanced

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/us-lawmakers-jo...,U.S. Lawmakers Join Demand For Puerto Rico Gov...,POLITICS,Puerto Ricans staged week-long protests callin...,"Andrew Hay, Reuters",2019-07-21
1,https://www.huffingtonpost.com/entry/as-florid...,"As Florida Governor, Jeb Bush Provided Special...",POLITICS,,,2015-06-23
2,https://www.huffingtonpost.com/entry/dianne-fe...,Dianne Feinstein Wants Hillary Clinton To 'Ste...,POLITICS,,Sam Levine,2015-03-08
3,https://www.huffingtonpost.com/entry/bill-clin...,Bill Clinton: I Don't Think I'm Good At Campai...,POLITICS,,Paige Lavender,2015-04-07
4,https://www.huffingtonpost.com/entry/trump-cbo...,Donald Trump Loved To Cite The Nonpartisan Age...,POLITICS,The Congressional Budget Office's projection a...,Igor Bobic,2017-03-13
...,...,...,...,...,...,...
3995,https://www.huffingtonpost.com/entry/repurposi...,Repurposing Ideas: 5 Other Uses For Dish Soap,HOME & LIVING,Lawn Furniture Cleaner With fall rapidly appro...,"Chris Barnes, Contributor\nNon-Profit Public R...",2012-09-11
3996,https://www.huffingtonpost.com/entry/watch-fro...,"WATCH: From Tree to Table, a Brooklyn Designer...",HOME & LIVING,Daniel Moyer is a great example of a contempor...,"Chauncey Zalkin, Contributor\nWriter, What Wom...",2012-02-13
3997,https://www.huffingtonpost.com/entry/weekly-ro...,Weekly Roundup of eBay Vintage Home Finds (PHO...,HOME & LIVING,"As always, buyer beware! Be sure to read the l...","Mary Kincaid, Contributor\nFounder and Editor ...",2012-02-07
3998,https://www.huffingtonpost.comhttp://www.reals...,6 Time-Saving Cleaning Tricks,HOME & LIVING,These easy habits will save you serious elbow ...,,2013-07-23
3999,https://www.huffingtonpost.com/entry/how-to-cl...,How To Clean Tarnished Copper With Ketchup,HOME & LIVING,"Whether it’s a shiny tea pot, cooking pans or ...",Michelle Manetti,2012-09-13

In [5]:
df_final = df_balanced[["headline", "category"]].reset_index(drop=True)

df_final.tail()

                                               headline       category
3995      Repurposing Ideas: 5 Other Uses For Dish Soap  HOME & LIVING
3996  WATCH: From Tree to Table, a Brooklyn Designer...  HOME & LIVING
3997  Weekly Roundup of eBay Vintage Home Finds (PHO...  HOME & LIVING
3998                      6 Time-Saving Cleaning Tricks  HOME & LIVING
3999         How To Clean Tarnished Copper With Ketchup  HOME & LIVING

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

# limit to top 20 features for simplicity & Create the TF-IDF vectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the headlines
X = vectorizer.fit_transform(df_final['headline'])

# convert the data to dataframe
tfidf_df = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names_out())
tfidf_df

,000,000th,10,100,100th,101,103rd,10th,11,114,...,ziggy,zihuatanejo,zika,zillow,zinke,zip,zone,zones,zoom,zsa
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
from sklearn.metrics.pairwise import cosine_similarity
headlines = df_final["headline"].astype(str).tolist()
categories = df_final["category"].astype(str).tolist()

def search(query, top_n=10):
    query_vec = vectorizer.transform([query])
    similarities = cosine_similarity(query_vec, X).flatten() # flatten() we use this to change the vector from 2D TO 1D per headline 
    top_indices = similarities.argsort()[-top_n:][::-1] # to arrange the headlines from more similar to less similar

    results = []
    for i in top_indices:
        results.append({
            "headline": headlines[i],
            "category": categories[i],
            "similarity_score": round(similarities[i], 4)
        })
    
    return results
f_reselt = pd.DataFrame(search("small"))
f_reselt

,headline,category,similarity_score
0,Make the Most of a Small Bathroom,HOME & LIVING,0.5003
1,Big Ideas For Small Bathrooms,HOME & LIVING,0.4797
2,Top 10 Small Cruise Ships In The World,TRAVEL,0.4068
3,Genius Decor Ideas For Small Spaces,HOME & LIVING,0.3935
4,A (Small) Dash of Soviet Nostalgia,TRAVEL,0.3807
5,Six Expert Tricks For Decorating Small Spaces,HOME & LIVING,0.3466
6,17 Hacks For Small Bathrooms With Big Problems,HOME & LIVING,0.3440
7,10 Sneaky Ways To Make A Small Space Look Bigger,HOME & LIVING,0.3407
8,6 Couches For Small Apartments That Will Actua...,HOME & LIVING,0.3047
9,Small Space Ideas: How I Cope With Living In 2...,HOME & LIVING,0.3019

In [61]:
search("sport")

[{'headline': 'Sport and Society for Arete: The NFL, Women and Sport',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.6706)},
 {'headline': 'The Most Dangerous Sport in the World',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.5114)},
 {'headline': 'Sport and Society for Arete-Baseball',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.4642)},
 {'headline': "Sport and Society for Arete - Father's Day",
  'category': 'SPORTS',
  'similarity_score': np.float64(0.438)},
 {'headline': 'Transcending the Game: The Human Side of Sport',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.4066)},
 {'headline': 'Sport and Society for Arete - The Cubs Quest',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.3943)},
 {'headline': 'Sport and Society for Arete: World Series Musings',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.3845)},
 {'headline': 'Sport and Society for Arete - The Fearsome Foursome',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.376)},
 {'headline': 'WATCH: This Massive Paddleboard Just Made Surfing A Team Sport',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.3536)},
 {'headline': 'USA Taekwondo Coach Banned From Sport Over Sexual Assault Accusations',
  'category': 'SPORTS',
  'similarity_score': np.float64(0.3135)}]