In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CarPrice_Assignment.csv')

### Task 2: Exploratory Data Analysis and Feature Engineering

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [4]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [5]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.drop(columns=['car_ID'], inplace=True)

In [8]:
df['brand'] = df['CarName'].str.split().str[0].str.lower()

brand_corrections = {
    'porcshce': 'porsche',
    'toyouta': 'toyota',
    'vokswagen': 'volkswagen',
    'vw': 'volkswagen',
    'maxda': 'mazda',
    'alfa-romero': 'alfa-romeo'
}

df['brand'] = df['brand'].replace(brand_corrections)

In [9]:
df.drop(columns=['CarName'], inplace=True)

In [10]:
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,brand
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romeo
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romeo
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romeo
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   fueltype          205 non-null    object
 2   aspiration        205 non-null    object
 3   doornumber        205 non-null    object
 4   carbody           205 non-null    object
 5   drivewheel        205 non-null    object
 6   enginelocation    205 non-null    object
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    object
 13  cylindernumber    205 non-null    object
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    object
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
 23  price             205 non-null    float64
 24  brand             205 non-null    object
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [12]:
# df['CarName'].unique()
# df['fueltype'].unique()
# df['aspiration'].unique()
# df['doornumber'].unique()
# df['carbody'].unique()
# df['drivewheel'].unique()
# df['enginelocation'].unique()
# df['wheelbase'].unique()
# df['carlength'].unique()
# df['carwidth'].unique()
# df['carheight'].unique()
# df['curbweight'].unique()
# df['enginetype'].unique()
# df['cylindernumber'].unique()
# df['enginesize'].unique()
# df['fuelsystem'].unique()
# df['boreratio'].unique()
# df['stroke'].unique()
# df['compressionratio'].unique()
# df['horsepower'].unique()
# df['peakrpm'].unique()
# df['citympg'].unique()
# df['highwaympg'].unique()

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [14]:
nominal_cols = ['brand', 'carbody', 'fueltype', 'aspiration', 'drivewheel', 
                'enginelocation', 'enginetype', 'fuelsystem']

preprocessor = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(drop='first'), nominal_cols)
    ],
    remainder='passthrough'
)

df_encoded = preprocessor.fit_transform(df)

encoded_columns = preprocessor.named_transformers_['onehot'].get_feature_names_out(nominal_cols)
all_columns = list(encoded_columns) + [col for col in df.columns if col not in nominal_cols]

df = pd.DataFrame(df_encoded, columns=all_columns)

for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')



df['doornumber']= LabelEncoder().fit_transform(df['doornumber'])
df['cylindernumber']= LabelEncoder().fit_transform(df['cylindernumber'])

C:\Users\bbuser\AppData\Local\Temp\ipykernel_20896\226841448.py:19: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# key_features = ['symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight',
#                 'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
#                 'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price']

# for col in key_features:
#     plt.figure(figsize=(8,4))
#     sns.histplot(df[col], kde=True, bins=30)
#     plt.title(f"Histogram of {col}")
#     plt.xlabel(col)
#     plt.ylabel("Frequency")
#     plt.show()

# for col in key_features:
#     plt.figure(figsize=(8,4))
#     sns.boxplot(x=df[col])
#     plt.title(f"Boxplot of {col}")
#     plt.xlabel(col)
#     plt.show()

### Task 3: Model Development and Comparison

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [26]:
X = df.drop('price', axis=1)
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

models = {
    "LinearRegression": LinearRegression(),
    "Ridge": Ridge(alpha=1.0, random_state=42),
    "RandomForest": RandomForestRegressor(n_estimators=100, random_state=42)
}

results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    results[name] = {"MSE": mse, "RMSE": rmse, "R2": r2}

print("LinearRegression: MSE={:.2f}, RMSE={:.2f}, R2={:.2f}".format(
    results["LinearRegression"]["MSE"], results["LinearRegression"]["RMSE"], results["LinearRegression"]["R2"]))
print("Ridge: MSE={:.2f}, RMSE={:.2f}, R2={:.2f}".format(
    results["Ridge"]["MSE"], results["Ridge"]["RMSE"], results["Ridge"]["R2"]))
print("RandomForest: MSE={:.2f}, RMSE={:.2f}, R2={:.2f}".format(
    results["RandomForest"]["MSE"], results["RandomForest"]["RMSE"], results["RandomForest"]["R2"]))

LinearRegression: MSE=9652829.99, RMSE=3106.90, R2=0.88
Ridge: MSE=8831205.34, RMSE=2971.73, R2=0.89
RandomForest: MSE=3342418.12, RMSE=1828.23, R2=0.96