In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = r"C:\Users\bbuser\maather\data_household\household_power_consumption.txt"
df = pd.read_csv(path,sep=';')
df

C:\Users\bbuser\AppData\Local\Temp\ipykernel_19720\2892336972.py:2: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path,sep=';')

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

## pd.to_datetime() conversion

In [3]:
df['comp_data_time'] = df['Date'] + ' ' + df['Time']
df['DateTime'] = pd.to_datetime(df['comp_data_time'], format='%d/%m/%Y %H:%M:%S')
df['DateTime']

0         2006-12-16 17:24:00
1         2006-12-16 17:25:00
2         2006-12-16 17:26:00
3         2006-12-16 17:27:00
4         2006-12-16 17:28:00
                  ...
2075254   2010-11-26 20:58:00
2075255   2010-11-26 20:59:00
2075256   2010-11-26 21:00:00
2075257   2010-11-26 21:01:00
2075258   2010-11-26 21:02:00
Name: DateTime, Length: 2075259, dtype: datetime64[ns]

## Setting datetime index

In [4]:
df.set_index('DateTime', inplace=True)

In [5]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,comp_data_time
DateTime,,,,,,,,,,
2006-12-16 17:24:00,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16/12/2006 17:24:00
2006-12-16 17:25:00,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16/12/2006 17:25:00
2006-12-16 17:26:00,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16/12/2006 17:26:00
2006-12-16 17:27:00,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16/12/2006 17:27:00
2006-12-16 17:28:00,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16/12/2006 17:28:00
...,...,...,...,...,...,...,...,...,...,...
2010-11-26 20:58:00,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0,26/11/2010 20:58:00
2010-11-26 20:59:00,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0,26/11/2010 20:59:00
2010-11-26 21:00:00,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0,26/11/2010 21:00:00
2010-11-26 21:01:00,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0,26/11/2010 21:01:00
2010-11-26 21:02:00,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0,26/11/2010 21:02:00

### Time-based slicing (df.loc['2020-01'], etc.)

In [6]:
df_2010 = df.loc['2010']
df_2010

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,comp_data_time
DateTime,,,,,,,,,,
2010-01-01 00:00:00,1/1/2010,00:00:00,1.790,0.236,240.650,7.400,0.000,0.000,18.0,1/1/2010 00:00:00
2010-01-01 00:01:00,1/1/2010,00:01:00,1.780,0.234,240.070,7.400,0.000,0.000,18.0,1/1/2010 00:01:00
2010-01-01 00:02:00,1/1/2010,00:02:00,1.780,0.234,240.150,7.400,0.000,0.000,19.0,1/1/2010 00:02:00
2010-01-01 00:03:00,1/1/2010,00:03:00,1.746,0.186,240.260,7.200,0.000,0.000,18.0,1/1/2010 00:03:00
2010-01-01 00:04:00,1/1/2010,00:04:00,1.686,0.102,240.120,7.000,0.000,0.000,18.0,1/1/2010 00:04:00
...,...,...,...,...,...,...,...,...,...,...
2010-11-26 20:58:00,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0,26/11/2010 20:58:00
2010-11-26 20:59:00,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0,26/11/2010 20:59:00
2010-11-26 21:00:00,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0,26/11/2010 21:00:00
2010-11-26 21:01:00,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0,26/11/2010 21:01:00
2010-11-26 21:02:00,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0,26/11/2010 21:02:00

In [7]:
df_2006 = df.loc['2006']
df_2006

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,comp_data_time
DateTime,,,,,,,,,,
2006-12-16 17:24:00,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16/12/2006 17:24:00
2006-12-16 17:25:00,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16/12/2006 17:25:00
2006-12-16 17:26:00,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16/12/2006 17:26:00
2006-12-16 17:27:00,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16/12/2006 17:27:00
2006-12-16 17:28:00,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16/12/2006 17:28:00
...,...,...,...,...,...,...,...,...,...,...
2006-12-31 23:55:00,31/12/2006,23:55:00,2.574,0.132,241.890,10.600,0.000,0.000,0.0,31/12/2006 23:55:00
2006-12-31 23:56:00,31/12/2006,23:56:00,2.576,0.132,242.060,10.600,0.000,0.000,0.0,31/12/2006 23:56:00
2006-12-31 23:57:00,31/12/2006,23:57:00,2.586,0.134,242.610,10.600,0.000,0.000,0.0,31/12/2006 23:57:00
2006-12-31 23:58:00,31/12/2006,23:58:00,2.648,0.212,241.930,11.000,0.000,0.000,0.0,31/12/2006 23:58:00
2006-12-31 23:59:00,31/12/2006,23:59:00,2.646,0.236,241.890,11.000,0.000,0.000,0.0,31/12/2006 23:59:00

### Resampling (resample('M'), resample('W'))

In [8]:
df.dtypes

Date                      object
Time                      object
Global_active_power       object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
comp_data_time            object
dtype: object

In [9]:
cols_to_convert = [
    'Global_active_power',
    'Global_reactive_power',
    'Voltage',
    'Global_intensity',
    'Sub_metering_1',
    'Sub_metering_2'
]

# Convert each to numeric, turning errors into NaN
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [10]:
df.dtypes

Date                      object
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
comp_data_time            object
dtype: object

In [11]:
daily_avg = df['Global_active_power'].resample('D').mean() # use to get monthly average (resampling:rescale the data to make it more understandable)
daily_avg

DateTime
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Freq: D, Name: Global_active_power, Length: 1442, dtype: float64

In [12]:
weekly_avg = df['Global_active_power'].resample('W').mean()
weekly_avg

DateTime
2006-12-17    2.505248
2006-12-24    1.734186
2006-12-31    1.958376
2007-01-07    1.484233
2007-01-14    1.604954
                ...
2010-10-31    0.958963
2010-11-07    1.154565
2010-11-14    1.335928
2010-11-21    1.107106
2010-11-28    1.186756
Freq: W-SUN, Name: Global_active_power, Length: 207, dtype: float64

### Plotting simple trends

In [ ]:
fig,axes = plt.subplots(2,1,figsize = (19,25))
daily_avg.plot(ax=axes[0],kind = 'bar',color = 'blue')
axes[0].set_title('Daily Average Global Active Power')
axes[0].grid(True)

weekly_avg.plot(ax=axes[1],kind = 'bar',color = 'red')
axes[1].set_title('Weekly Average Global Active Power')
axes[1].grid(True)
plt.show()