In [1]:
import numpy as np

In [2]:

file_path = r"C:\Users\bbuser\Downloads\archive\mental_health_and_technology_usage_2024.csv"

import pandas as pd

df = pd.read_csv(file_path)
df.head()

,User_ID,Age,Gender,Technology_Usage_Hours,Social_Media_Usage_Hours,Gaming_Hours,Screen_Time_Hours,Mental_Health_Status,Stress_Level,Sleep_Hours,Physical_Activity_Hours,Support_Systems_Access,Work_Environment_Impact,Online_Support_Usage
0,USER-00001,23,Female,6.57,6.00,0.68,12.36,Good,Low,8.01,6.71,No,Negative,Yes
1,USER-00002,21,Male,3.01,2.57,3.74,7.61,Poor,High,7.28,5.88,Yes,Positive,No
2,USER-00003,51,Male,3.04,6.14,1.26,3.16,Fair,High,8.04,9.81,No,Negative,No
3,USER-00004,25,Female,3.84,4.48,2.59,13.08,Excellent,Medium,5.62,5.28,Yes,Negative,Yes
4,USER-00005,53,Male,1.20,0.56,0.29,12.63,Good,Low,5.55,4.00,No,Positive,Yes

In [3]:
df.head() #show the first five

,User_ID,Age,Gender,Technology_Usage_Hours,Social_Media_Usage_Hours,Gaming_Hours,Screen_Time_Hours,Mental_Health_Status,Stress_Level,Sleep_Hours,Physical_Activity_Hours,Support_Systems_Access,Work_Environment_Impact,Online_Support_Usage
0,USER-00001,23,Female,6.57,6.00,0.68,12.36,Good,Low,8.01,6.71,No,Negative,Yes
1,USER-00002,21,Male,3.01,2.57,3.74,7.61,Poor,High,7.28,5.88,Yes,Positive,No
2,USER-00003,51,Male,3.04,6.14,1.26,3.16,Fair,High,8.04,9.81,No,Negative,No
3,USER-00004,25,Female,3.84,4.48,2.59,13.08,Excellent,Medium,5.62,5.28,Yes,Negative,Yes
4,USER-00005,53,Male,1.20,0.56,0.29,12.63,Good,Low,5.55,4.00,No,Positive,Yes

In [4]:
df.tail() #the last five

,User_ID,Age,Gender,Technology_Usage_Hours,Social_Media_Usage_Hours,Gaming_Hours,Screen_Time_Hours,Mental_Health_Status,Stress_Level,Sleep_Hours,Physical_Activity_Hours,Support_Systems_Access,Work_Environment_Impact,Online_Support_Usage
9995,USER-09996,42,Male,7.05,0.41,0.53,13.90,Good,Medium,7.37,5.02,Yes,Neutral,No
9996,USER-09997,31,Other,3.12,6.79,0.80,1.17,Fair,Medium,8.92,9.78,No,Neutral,Yes
9997,USER-09998,23,Male,4.38,3.98,0.52,7.81,Poor,High,7.59,2.99,No,Positive,No
9998,USER-09999,38,Male,4.44,1.48,3.28,13.95,Poor,Medium,7.26,2.24,Yes,Neutral,Yes
9999,USER-10000,41,Male,2.50,4.80,0.25,8.82,Fair,Low,4.62,5.09,Yes,Positive,Yes

In [5]:
df.info() # all colums

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   User_ID                   10000 non-null  object
 1   Age                       10000 non-null  int64
 2   Gender                    10000 non-null  object
 3   Technology_Usage_Hours    10000 non-null  float64
 4   Social_Media_Usage_Hours  10000 non-null  float64
 5   Gaming_Hours              10000 non-null  float64
 6   Screen_Time_Hours         10000 non-null  float64
 7   Mental_Health_Status      10000 non-null  object
 8   Stress_Level              10000 non-null  object
 9   Sleep_Hours               10000 non-null  float64
 10  Physical_Activity_Hours   10000 non-null  float64
 11  Support_Systems_Access    10000 non-null  object
 12  Work_Environment_Impact   10000 non-null  object
 13  Online_Support_Usage      10000 non-null  object
dtypes: float64(6), int64(1), object(7)
memory usage: 1.1+ MB

In [6]:
df.describe() #EVERYTHing , sum , mean , std , count

,Age,Technology_Usage_Hours,Social_Media_Usage_Hours,Gaming_Hours,Screen_Time_Hours,Sleep_Hours,Physical_Activity_Hours
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,41.518600,6.474341,3.972321,2.515598,7.975765,6.500724,5.003860
std,13.920217,3.169022,2.313707,1.446748,4.042608,1.450933,2.905044
min,18.000000,1.000000,0.000000,0.000000,1.000000,4.000000,0.000000
25%,29.000000,3.760000,1.980000,1.260000,4.520000,5.260000,2.490000
50%,42.000000,6.425000,3.950000,2.520000,7.900000,6.500000,4.990000
75%,54.000000,9.212500,5.990000,3.790000,11.500000,7.760000,7.540000
max,65.000000,12.000000,8.000000,5.000000,15.000000,9.000000,10.000000

In [17]:
df[["Age", 'Gaming_Hours', 'Work_Environment_Impact']].describe()

                Age  Gaming_Hours
count  10000.000000  10000.000000
mean      41.518600      2.515598
std       13.920217      1.446748
min       18.000000      0.000000
25%       29.000000      1.260000
50%       42.000000      2.520000
75%       54.000000      3.790000
max       65.000000      5.000000

In [8]:
df.index #

RangeIndex(start=0, stop=10000, step=1)

In [61]:
df.Sleep_Hours.unique() #uniqe values

array([8.01, 7.28, 8.04, 5.62, 5.55, 8.61, 7.11, 7.19, 5.09, 5.13, 8.57,
       7.9 , 4.82, 7.13, 8.53, 4.62, 8.95, 7.71, 5.69, 7.07, 4.76, 4.01,
       5.83, 5.73, 4.85, 5.33, 8.37, 5.36, 8.27, 6.24, 4.4 , 5.02, 7.1 ,
       5.77, 7.98, 4.47, 4.7 , 6.98, 6.7 , 7.59, 5.  , 8.47, 4.46, 4.38,
       6.58, 8.02, 4.41, 4.35, 8.96, 5.53, 7.35, 6.03, 8.2 , 4.63, 8.6 ,
       4.08, 5.37, 8.64, 6.16, 6.77, 4.13, 8.38, 5.2 , 7.89, 4.39, 4.07,
       5.92, 5.48, 6.43, 4.31, 7.47, 7.61, 6.48, 7.54, 4.78, 7.5 , 4.52,
       6.63, 4.03, 8.13, 4.77, 4.99, 4.34, 4.28, 8.23, 5.11, 6.33, 7.69,
       6.68, 8.82, 4.8 , 5.17, 8.76, 5.88, 4.09, 4.79, 7.66, 7.72, 8.33,
       8.24, 6.28, 5.42, 8.71, 6.99, 8.55, 7.17, 5.94, 5.4 , 4.56, 8.59,
       5.51, 7.25, 6.09, 5.93, 4.49, 6.15, 5.57, 4.26, 6.36, 8.99, 5.86,
       4.48, 6.31, 5.52, 5.16, 5.22, 8.66, 4.67, 4.1 , 8.97, 5.32, 6.93,
       5.43, 4.06, 6.13, 6.07, 4.86, 6.54, 5.91, 7.2 , 8.78, 6.74, 5.34,
       8.18, 5.01, 8.07, 7.68, 8.39, 5.78, 8.19, 6.2 , 4.43, 7.8 , 4.55,
       7.97, 8.14, 8.79, 5.84, 4.3 , 8.74, 7.37, 7.02, 5.7 , 4.58, 6.89,
       8.22, 7.33, 6.9 , 6.18, 7.03, 4.93, 7.92, 4.83, 8.89, 5.5 , 8.63,
       4.64, 7.16, 8.42, 7.21, 4.5 , 5.26, 6.19, 6.91, 4.05, 7.6 , 7.04,
       6.79, 4.22, 4.02, 5.18, 5.12, 5.89, 7.81, 5.68, 5.74, 6.53, 6.64,
       4.12, 5.79, 4.17, 7.46, 7.01, 7.45, 5.21, 8.12, 6.41, 6.78, 6.1 ,
       6.52, 5.49, 5.76, 6.65, 5.05, 4.88, 7.51, 6.42, 4.75, 5.97, 4.97,
       4.32, 7.56, 8.67, 8.36, 8.17, 8.35, 5.44, 8.52, 7.95, 6.82, 7.48,
       8.86, 4.74, 8.51, 7.88, 7.42, 8.56, 8.68, 7.  , 5.31, 6.8 , 4.37,
       8.  , 4.33, 7.94, 5.61, 7.57, 8.08, 6.85, 6.55, 8.62, 7.87, 4.61,
       4.2 , 7.31, 8.45, 8.92, 6.81, 5.95, 8.81, 8.3 , 5.99, 7.38, 5.41,
       7.91, 8.8 , 8.31, 6.3 , 4.27, 5.3 , 5.66, 6.5 , 8.25, 6.02, 6.21,
       6.12, 4.68, 7.65, 8.94, 7.64, 5.39, 7.55, 8.88, 5.47, 8.69, 7.05,
       5.29, 5.25, 6.49, 4.91, 4.89, 7.79, 8.28, 5.38, 8.75, 5.15, 6.23,
       4.16, 7.15, 6.37, 4.84, 7.76, 5.03, 8.77, 6.08, 6.38, 6.56, 5.65,
       7.85, 4.45, 5.27, 4.65, 7.96, 6.47, 4.18, 4.94, 7.82, 5.46, 4.21,
       4.36, 4.95, 8.91, 7.78, 6.73, 8.26, 6.39, 6.22, 4.87, 7.24, 7.36,
       8.43, 8.83, 6.92, 4.73, 7.26, 7.67, 6.84, 4.42, 5.85, 4.11, 7.06,
       4.04, 4.24, 6.67, 8.15, 6.87, 4.15, 5.81, 7.4 , 8.09, 7.73, 4.81,
       7.23, 5.67, 6.14, 8.16, 7.34, 8.1 , 8.11, 4.29, 5.35, 6.51, 8.06,
       6.94, 7.7 , 8.32, 7.29, 5.87, 5.28, 7.52, 4.  , 6.96, 7.93, 7.18,
       6.59, 6.86, 8.05, 7.49, 5.64, 8.93, 6.6 , 4.51, 8.9 , 5.98, 4.59,
       4.25, 5.63, 8.34, 6.04, 6.26, 4.72, 4.96, 4.98, 5.23, 7.77, 6.72,
       5.14, 7.63, 6.01, 8.7 , 8.46, 8.84, 5.6 , 8.72, 7.14, 7.99, 6.61,
       8.29, 7.32, 5.75, 5.07, 8.4 , 6.57, 5.8 , 8.21, 6.06, 6.69, 4.69,
       4.14, 4.54, 6.66, 8.85, 4.6 , 5.54, 7.53, 5.06, 6.46, 8.41, 6.29,
       7.12, 6.17, 6.83, 6.32, 4.19, 5.9 , 8.98, 5.71, 5.59, 7.08, 4.9 ,
       5.24, 5.56, 6.62, 8.03, 8.5 , 6.88, 6.76, 5.72, 7.84, 5.82, 6.75,
       8.58, 4.92, 8.65, 5.96, 5.58, 5.08, 6.34, 6.  , 4.57, 6.71, 8.48,
       4.53, 8.49, 8.54, 7.83, 5.19, 7.43, 6.35, 9.  , 4.23, 7.58, 6.4 ,
       7.3 , 5.45, 4.44, 5.1 , 7.86, 8.73, 7.22, 4.71, 6.45, 6.95, 4.66,
       7.27, 7.44, 7.75, 8.44, 6.27, 7.41, 6.97, 5.04, 8.87, 6.05, 7.74,
       6.11, 6.25, 7.09, 6.44, 7.62, 7.39])

In [10]:
df['Social_Media_Usage_Hours'].value_counts() #count of each value

Social_Media_Usage_Hours
1.28    24
0.94    23
1.12    23
2.12    22
0.59    22
        ..
7.96     5
6.73     5
1.35     4
0.56     4
2.49     3
Name: count, Length: 801, dtype: int64

In [11]:
df.isnull().count() #if you have null

User_ID                     10000
Age                         10000
Gender                      10000
Technology_Usage_Hours      10000
Social_Media_Usage_Hours    10000
Gaming_Hours                10000
Screen_Time_Hours           10000
Mental_Health_Status        10000
Stress_Level                10000
Sleep_Hours                 10000
Physical_Activity_Hours     10000
Support_Systems_Access      10000
Work_Environment_Impact     10000
Online_Support_Usage        10000
dtype: int64

In [12]:
df.count()

User_ID                     10000
Age                         10000
Gender                      10000
Technology_Usage_Hours      10000
Social_Media_Usage_Hours    10000
Gaming_Hours                10000
Screen_Time_Hours           10000
Mental_Health_Status        10000
Stress_Level                10000
Sleep_Hours                 10000
Physical_Activity_Hours     10000
Support_Systems_Access      10000
Work_Environment_Impact     10000
Online_Support_Usage        10000
dtype: int64

In [13]:
df['Sleep_Hours'].describe()

count    10000.000000
mean         6.500724
std          1.450933
min          4.000000
25%          5.260000
50%          6.500000
75%          7.760000
max          9.000000
Name: Sleep_Hours, dtype: float64

In [59]:
df.boxplot(column='Sleep_Hours')